<header class="bg-green-600 text-white py-4">
    <!--<div class="container mx-auto flex justify-between items-center">-->
    <div class="container mx-auto flex items-center justify-between max-w-screen-xl px-4">
      <a routerLink="/" class="text-3xl font-sans font-bold text-black ">Best Bank</a>
      <!-- <nav>
        <ul class="flex ">
          <li><a routerLink="/home" class="hover:text-gray-300">Home</a></li>
          <li><a routerLink="/about" class="hover:text-gray-300">About</a></li>
          <li><a routerLink="/contact" class="hover:text-gray-300">Contact</a></li> 
        </ul>
      </nav> -->
    </div>
  </header>
